<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>BRPM Regression Report</title>
    <style type="text/css">
        body { background-color: #e4e4e4; color: #333; text-align: center; font-family: arial, sans-serif; font-size: 12px}
        div.main_frame{ border: 1px solid #ccc; text-align: left; background-color: #FFF;}
        table{
            font-size:11px;
            padding-left: 2pt;
            padding-right: 2pt;
            
        }
        td{
                border:1pt solid #ccc;
            }
        td.desc{
         font-size: 9px;
            }
	    td.success{
	      font-weight: bold;
		  color: #3C3;
	            }
		td.failure{
  	      font-weight: bold;
  		  color: #F00;
	  }
        td.titlecell{
                border:1pt solid #ccc; background-color: #e4e4e4;
            }
        th{
            border-top: 2pt solid #ccc;
            border-left: 1pt solid #ccc;
            border-right: 1pt solid #ccc;
            font-weight: bold;
			color: #3CF;
			background-color: #333;
            }
		.filename{ font-weight: bold; color: #004376; }
    </style>
</head>

<body>
<div class='main_frame'>
  <div style='text-align: center'><h2>BRPM Regression Report</h2></div>
<h3>
<%="Run: #{request_name}" %><br>
<%="Tested: #{test_results[3][0]}" %><br>
<a href="<%=request_url %>"><%= request_url %></a>
</h3>
<br>
<table cellpadding='1', cellspacing='1'>
	<thead>
__HEADER__
	</thead>
	<tbody>
__BODY__
	</tbody>
</table>

</div>
</body>
</html>
