  {
    "EnvironmentName": "${env_name}",
    "EnvironmentDescription": null,
    "ComparisonType": null,
    "SuperUser": null,
    "Schemas": [
      {
        "Name": "${schema_name}",
        "SchemaCredentials": {
          "AuthType": "${mssql_auth_type}",
          "DBName": "${schema_name}",
					"Port" : "${port}",
          "Host": "${host}",
          "UserName": "${username}",
          "Password": "${password}"
        },
        "Order": 1,
        "IsManaged": false,
        "Safe": null,
        "Folder": null,
        "Object": null,
        "additionalOptions": [],
        "IsSuperUser": false
      }
    ]
  }
